.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
    color: snow;

}
.nav .logo{
    font-weight: bold;
    font-size: 30px;
}
.nav .menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.nav .menu-list li{
    list-style: none;
    font-size: 22px;
    font-family: Poppins;
    cursor: pointer;
}
.nav .contact{
    padding: 10px 15px;
    background-color: snow;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
}
.nav .contact:hover{
    color: snow;
    background-color: red;
}
@media screen and (max-width : 768px) {
    .nav{
        flex-direction: column;
    }
    .nav .logo{
        font-size: 23px;
    }
}
@media screen and (max-width : 768px){
    
    .nav .menu-list{
        gap: 13px;
    }
}
